@import "../../scss/index.scss";
@import "../../index.scss";
@import "bootstrap/dist/css/bootstrap.min.css";


.table{
    

  
    td{
        vertical-align: middle;
        text-align: center;
        padding: 1px;
        
    
    }
    th
    {
        padding: 5px ;
    vertical-align: middle;
    text-align: center;
    }



}

.table-data{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  
    td{
        vertical-align: middle;
        text-align: left;
        padding: 5px ;
        width: 180px;
        text-transform: capitalize;
        
    }
    th
    {
        text-transform: uppercase; 
    vertical-align: middle;
    text-align: left;
    padding: 5px ;
    width: 180px;
    }
}
.table-pregunta{

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

    td{
        vertical-align: middle;     
        padding: 5px ;
        text-transform: capitalize;

        
    }
    th
    {
    vertical-align: middle; 
    text-transform: uppercase; 
    }
}

.thead-fliares{
    vertical-align: middle; 
    text-transform: uppercase; 

  td{
    vertical-align: middle;     
    padding: 5px ;
    text-transform: capitalize;
  }  
}


h6{
    text-align: center;
    margin: 10px 10px 10px;
}

h5{
    margin: 10px 10px 10px;
}

hr{
    margin-top: 1px;
    margin-bottom: 1px;
 
}
    
.img-pdf{

    width: 100px;
    height: 100px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    
}

.div-margen{
    border: 1px solid rgb(121, 119, 119);
    margin: 30px 30px 30px;
    margin-top: 4px;
    margin-bottom: 4px;
  
}

.div-cabezal{
    border: 1px solid rgb(121, 119, 119);
    margin: 30px 30px 30px;
    margin-bottom: 1px;
    
  
}

.p-margen{
    margin: 10px 10px 1px;

}

.button {
   
    border: 2px solid transparent;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: #86260e;
    color: white;
}

.button1:hover {
   
    background-color: white; 
    color: black; 
    border: 2px solid #86260e;
    text-decoration: none;
}

.button2 {
    background-color: #008CBA;
    color: white;
}

.button2:hover {
   
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    text-decoration: none;
}

.button3 {
    background-color: #229b50;
    color: white;
}

.button3:hover {
   
    background-color: white; 
    color: black; 
    border: 2px solid #229b50;
    text-decoration: none;
}

.p-nombre{
text-transform: uppercase;

}
.p-titulo{
    text-transform: uppercase;
    text-align: left; 
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    }

  ////////////////////////////////////////@at-root
  