@import "../../../index.scss";

.basic-modal {
  .modal-content {
    background-color: rgb(222, 223, 224);
    border-radius: 25px;
  }
  .modal-header {
    padding: 15px;
    border: 0;
  }
  .modal-tittle {
    margin: 0 auto;
    padding: 20px 40px 40px 40px;
  }

  .modal-body {
    padding: 20px 40px 40px 40px;
  }
}
